.panda-bg-color{
    background-color: #fee9e8;
}
.panda-btn-color{
    background-color: #ff008a;
}
.watch-bg-color{
    background-color: #ffa900;
}
.bag-bg-color{
    background-color: #eb2ed9;
}
.shoes-bg-color{
    background-color: #5e00ff;
}
.catagories img{
    width: 100px;
}